<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <title>:: TCC Mall</title>
</head>
<body>


        <h3>Edit Product</h3>
    <% if(typeof(error) != 'undefined') { %>
        <% error.forEach(function(err) { %>

            <h4 style="color: red"> <%= err %> </h4>
             
        <% }) %>
    <% } %>

    <% if(message != '') { %>
        <h6 style="color: green"><%= message %></h6>
    <% } %>

    <% if(error_msg != '') { %>
        <h6 style="color: red"><%= error_msg %></h6>
    <% } %>

    <% result.forEach((r) => { %>
        <form action="/edit/<%= r._id %>" method="post">
            <p>Product Name: <input type="text" name="productName" value="<%= r.productName %>"></p>
            <p>Product Description: <br><textarea name="description" rows="7" cols="25"><%= r.description %></textarea></p>
            <p>Product Price: <input type="number" name="price" value="<%= r.price %>"></p>
        </form>
   <% }) %>

</body>
</html>
