<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <title>:: TCC Mall | Signup</title>
</head>
<body>
    <% if(typeof(error) != 'undefined') { %>
        <% error.forEach(function(err) { %>

            <h4 style="color: red"> <%= err %> </h4>
             
        <% }) %>
    <% } %>

    <% if(message != '') { %>
        <h6 style="color: green"><%= message %></h6>
    <% } %>

    <% if(error_msg != '') { %>
        <h6 style="color: red"><%= error_msg %></h6>
    <% } %>

    

        <h2>TCC Mall</h3>

        <h4>Merchant Signup Form</h4>
        <p>Please fill in your details below</p>

        <form action="/signup" method="post" enctype="application/x-www-form-urlencoded">

            <p>Firstname: <input type="text" name="fn" value="<%= typeof fn !='undefined'? fn: '' %>"></p>
            <p>Lastname: <input type="text" name="ln" value="<%= typeof ln !='undefined'? ln: '' %>"></p>
            <p>Phone Number: <input type="text" name="phone" value="<%= typeof phone !='undefined'? phone: '' %>"></p>
            <p>Are you registered with CAC? Yes <input type="radio" name="cacStatus" value="Yes" <% if(typeof cacStatus != 'undefined' && cacStatus === 'Yes'){ %> checked="checked" <%}%>>
                                            No <input type="radio" name="cacStatus" value="No" <% if(typeof cacStatus != 'undefined' && cacStatus === 'No'){ %> checked="checked" <%}%>>
            <p>Username: <input type="text" name="username" value="<%= typeof username !='undefined'? username: '' %>"></p>
            <p>Password: <input type="password" name="pass1" value="<%= typeof pass1 !='undefined'? pass1: '' %>"></p>
            <p>Confirm Password: <input type="password" name="pass2" value="<%= typeof pass2 !='undefined'? pass2: '' %>"></p>
            <!-- <p>Upload Image: <input type="file" name="image" value="<%= typeof image !='undefined'? image: '' %>"></p> -->

            <input type="submit" name="" value="Click to Signup">
        </form>

        <hr>

        <a href="/">Back to home</a>
        <a href="/login">Merchant Login</a>
</body>
</html>